.unstyled-link{
  min-width: fit-content;
  margin-top: auto;
    margin-bottom: auto;
}
.left-separator{
  margin-left: 1rem;
}

.mb-2{
  margin-bottom: 2rem;
}
.p-2{
  padding: 2rem;
}
.key-paragraph{
  overflow-wrap: anywhere;
  -webkit-text-security: disc;
  font-size: 1rem;
  font-family: monospace;
  margin: 0;
    padding: 0;

}
.key-paragraph.show{
  -webkit-text-security: none;
}

.example-link{
  color: blueviolet;
  cursor: grab;
  display: block;
  padding: 1rem 0;
}

.section-home{
 width: 100%;
 padding: 20px 0;
}

img {
  width: 100%;
  max-width: 100%;
}

.section-home.main{
  background-color: inherit;

}

.section-home.alt{
  background-color: aliceblue;
}

.border-rad{
  border-radius: 8px;
}

.fullwith{
  width: 100%;
}

.justify-center{
  justify-content: center !important;
}

.d-flex{
  display: flex;
}

#account-action-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem 2rem;
  max-width: 550px;
  margin-left: auto;
}

#account-action-grid > :not(:first-child){
margin-left: 0;
}

@media (min-width: 750px){
  #account-action-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}