.unstyled-link{
    text-decoration: none;
    color: inherit;
}
.unstyled-link:focus{
    outline: inherit;
}

.unstyled-link:active{
    color: inherit;
}
.unstyled-link:hover{
    color: inherit;
}